/* Colors */

/*!$black color
*   <div style="width: 30px; height: 30px; background: $black; display: block;"></div>
*/
$black: #000;
$grayblack: #333;
$gray: #666;
$graywhite: #666;
$white: #FFF;

$greenMain: #669900;
$greenSecondary: #669933;
